<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" href="static/UpdateStyle.css" type="text/css"/>
    <script type="text/javascript">
     var str1,str2;
        
    function valid()
    {
        str1=document.getElementById("symptom").value;
        str2=document.getElementById("probability").value;
        if(str1==""||str2=="")
        {
            alert("你还没有输入内容");
            return 2;
        }
        else
        {
                return 1;
        }
    
    }
    
    function sendmessage()
    {
        var a=valid();
        if(a==2) 
            return false;
        else
        {
            document.getElementById("formid").submit();
             return true;
        }
    }
    function changepage()
    {
            location.href='/index';
    }
    </script>
</head>
<body>
    <form action="/Update" method="post" id="formid" >
    <div>
        <h1>修改症状信息</h1>
        症状：<input class="text1" type="text" name="symptom" id="symptom" align="center"><br><br>
        新概率：<input class="text" type="text" name="probability" id="probability" align="center">%<br><br>
        反馈：<textarea name="probability">{{result}}</textarea><br><br>
        <input class="btn" type="button" name="update" value="修改" align="center" onclick="sendmessage()">
        <input class="btn" type="button" value="返回" align="center" onclick="changepage()">
    </div>
    </form>
</body>
</html>